.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color:  palegreen !important;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    height : 100px;
    width : 100px;
    padding-top : 10px;
  }
  